# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.vscode/

# Test results
[Tt]est[Rr]esult*/
[Bb]enchmark[Dd]ot[Nn]et.Artifacts/
TestResults/

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/
*.nuget.props
*.nuget.targets

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
