#root {
  -fx-background-image: url('resources/retro_background.png');
  -fx-background-size: 640 480;
  -fx-background-position: center;
}

#title {
  -fx-pref-width: 640;
  -fx-pref-height: 160;
  -fx-background-image: url('resources/title.gif');
  -fx-background-repeat: no-repeat;
  -fx-background-size: 240 160;
  -fx-background-position: center;
}

#menu {
  -fx-pref-height: 200;
  -fx-alignment: center;
  -fx-margin: 10px 50px;
}
