.border {
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: black;
}

.btn {
  -fx-background-color: rgb(45, 48, 70);
  -fx-text-fill: white;
  -fx-cursor: hand;
  -fx-padding: 10px 15px;
  -fx-pref-width: 300;
  -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.6), 10, 0.2, 0, 5);
  -fx-translate-y: -2;
}

.btn:pressed {
  -fx-effect: none;
  -fx-translate-y: 2;
}

.label {
  -fx-padding: 15px 3px;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
