# Build results
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.user
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
